.sectionSingle .headerSingle {
  background-color: white;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionSingle .headerSingle .title {
  font-weight: 400;
}

.sectionSingle .imgProducto .woocommerce-main-image img {
  width: 1220px;
  height: 120px;
}
